body {
  background-image: url(/images/logo5.png);
}
#img {
  transition: transform 0.5s ease-in-out;
}

#img:hover {
  transform: scale(1.2);
}

#perfil {
  border: 3px solid black;
}

#logo {
 height: 15rem;
}
